@import url(./reset.css);
:root {
    --white: #fff;
    --red: #f03e3e;
    --green: #12b886;
    --blue: #228ae6;
}

body{background-color: #222;color: #fff;font-family: 'Noto Sans KR', sans-serif;font-size: 16px;}
input, button{color: #fff;font-family: 'Noto Sans KR', sans-serif;font-size: 16px;}

.pg-wrap{position: absolute;top: 100px;left: 50%;overflow: hidden;transform: translateX(-50%);width: 400px;border: 1px solid #fff;border-radius: 14px;}
.pg-title{padding: 30px 0;text-align: center;font-weight: bold;font-size: 18px;border-bottom: 1px solid #fff;}
.pg-contents{padding: 20px;}
.pg-type-lists{}
.pg-type-lists .list:not(:last-child){padding-bottom: 14px;}

.ipt-title{padding: 10px 0 10px 4px;}
.ipt-contents{}
.ipt-contents input{margin: 0;padding: 2%;width: 96%;border: none;background-color: #ffffff1a;border-radius: 8px;}
.ipt-contents.red input{color: var(--red);}
.ipt-contents input::placeholder{color: #ddd;}
.ipt-contents.red input::placeholder{color: var(--red);}

.btn{margin: 0;padding: 24px 0;width: 20%;border: none;background-color: transparent;color: #fff;cursor: pointer;}
.btn:hover{color: var(--point);}
.btn-type-full{width: 100%;}
.btn-type-fixed{position: absolute;bottom: 0;}